@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #2B2A29;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --animate-asideOpening: 1s ease-out asideOpening;
  --font-montserrat: "Montserrat", sans-serif;
  --drop-shadow-keyboard: 0px 2px 0px rgba(0,0,0,0.1)
}

html{
  height: 100%;
}
body {
  margin: 0;
  height: 100%;
  font-family: 'Times New Roman', Times, serif;
}
.bg{
  background: url("../media/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.scrollHand{
  left: var(--move-x);
}
.scrollPanel::-webkit-scrollbar{
  display: none;
}